@import 'datatables.net-dt';
@import 'datatables.net-responsive-dt';
@import 'datatables.net-select-dt';
@import 'datatables.net-buttons-dt';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
